<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.denmau.foodfit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodFit">
        <activity android:name=".Screens.AboutAppActivity"></activity>
        <activity android:name=".Screens.RegisterActivity" />
        <activity android:name=".Screens.LoginActivity" />
        <activity android:name=".Screens.AccountActivity" />
        <activity android:name=".Screens.SearchActivity" />
        <activity android:name=".Screens.RecipeDetails" />
        <activity android:name=".adapter.RecipesAdapter" />
        <activity android:name=".Screens.HomeScreenActivity" />
        <activity android:name=".Screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>